# Third Section : Forecast

In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# Define the ticker symbol for Monero (XMR)
ticker = 'XMR-USD'

# Define the start and end dates for your data collection
start_date = '2023-01-01'
end_date = '2023-10-06'

# Fetch historical data for Monero
xmr_data = yf.download(ticker, start=start_date, end=end_date)

# Extract the 'Close' prices
##mkgr

closing_prices = xmr_data['Close']

xmr_data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-01,147.309662,148.931030,146.437485,148.576935,148.576935,36453347
2023-01-02,148.582184,149.623535,147.943558,147.943558,147.943558,47050925
2023-01-03,147.933929,149.027832,147.628860,148.487930,148.487930,48662135
2023-01-04,148.466995,152.488983,148.342621,150.743652,150.743652,83915181
2023-01-05,150.790253,155.921738,150.769043,155.921738,155.921738,78049428