# Third Section : Forecast

In [2]:
import yfinance as yf
import pandas as pd

In [3]:
# Define the ticker symbol for Monero (XMR)
ticker = 'XMR-USD'

# Define the start and end dates for your data collection
start_date = '2023-01-01'
end_date = '2023-10-06'

# Fetch historical data for Monero
xmr_data = yf.download(ticker, start=start_date, end=end_date)

# Extract the 'Close' prices
##mkgr

closing_prices = xmr_data['Close']

xmr_data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-01,147.309662,148.931030,146.437485,148.576935,148.576935,36453347
2023-01-02,148.582184,149.623535,147.943558,147.943558,147.943558,47050925
2023-01-03,147.933929,149.027832,147.628860,148.487930,148.487930,48662135
2023-01-04,148.466995,152.488983,148.342621,150.743652,150.743652,83915181
2023-01-05,150.790253,155.921738,150.769043,155.921738,155.921738,78049428

In [15]:
xmr_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 278 entries, 2023-01-01 to 2023-10-05
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       278 non-null    float64
 1   High       278 non-null    float64
 2   Low        278 non-null    float64
 3   Close      278 non-null    float64
 4   Adj Close  278 non-null    float64
 5   Volume     278 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 15.2 KB

In [17]:
# According to the below code, there is not NAN data in our dataframe.

xmr_data.isna().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [18]:
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

In [20]:
dbclustering_features = xmr_data[['Open', 'High', 'Low', 'Close']]

# Standardize the data
scaler = StandardScaler()
scaled_features = scaler.fit_transform(dbclustering_features)

In [21]:
scaled_features

array([[-0.77729059, -0.83573768, -0.6320711 , -0.65167105],
       [-0.64987396, -0.76920701, -0.47688059, -0.71512833],
       [-0.71478317, -0.82643769, -0.50930799, -0.6605883 ],
       ...,
       [-0.8890987 , -0.94386028, -0.76309831, -0.79449847],
       [-0.79143085, -0.66556289, -0.68325306, -0.46210181],
       [-0.46042812, -0.60541936, -0.41279465, -0.54679509]])